{% extends 'charts/line.html' %}

{% block plugins %}
    annotation: {
        common: {
            drawTime: 'beforeDraw'
        },
        annotations: {
            excellent: {
                type: 'box',
                backgroundColor: 'rgba(60, 179, 113, 0.3)',
                borderWidth: 0,
                yMin: 20,
            },
            good: {
                type: 'box',
                backgroundColor: 'rgba(255, 255, 0, 0.3)',
                borderWidth: 0,
                yMax: 20,
                yMin: 13,
            },
            poor: {
                type: 'box',
                backgroundColor: 'rgba(255, 165, 0, 0.3)',
                borderWidth: 0,
                yMax: 13,
                yMin: 0,
            },
            bad: {
                type: 'box',
                backgroundColor: 'rgba(255, 99, 71, 0.3)',
                borderWidth: 0,
                yMax: 0,
            },
        }
    }
{% endblock %}